<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle (click)="backProdutos()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ProdutoDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>

<img [src]="item?.imageUrl || './assets/img/prod.jpg'">

<ion-card-content>
<ion-card-title>
  {{item?.nome}}
</ion-card-title>

<p>
  {{item?.preco | currency}}
</p>

</ion-card-content>



</ion-card>
<ion-button expand="block" >Adicionar ao carrinho</ion-button>
</ion-content>
