
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

      <ion-menu-button></ion-menu-button>
      
     
    </ion-buttons>

    <ion-title>Fechamento de Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Selecione um endereço
    </ion-list-header>
    

    <button ion-item *ngFor="let item of items">
      <h2>{{item.logradouro}}, {{item.numero}}</h2>
      <p>{{item.complemento}} {{item.bairro}} CEP {{item.cep}}</p>
      <p>{{item.cidade.nome}}, {{item.cidade.estado.nome}}</p>
    </button>
  
  </ion-list>

</ion-content>
