<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

      <ion-icon name="arrow-back-outline" (click)="backCategorias()"></ion-icon>


    </ion-buttons>

    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab class="carrinho">
    <ion-fab-button (click)="carrinhoCompras()">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list class="listaGrid">
    <button ion-item *ngFor="let item of items" (click)="showDetail(item.id)">
      <ion-item>
        <div class="content-container">
          <ion-thumbnail item-start>
            <img [src]="item.imageUrl || './assets/img/prod.jpg'">

          </ion-thumbnail>


          <div>
            <h2> {{item.nome}}</h2>


            <span> {{item.valor | currency}}</span>
          </div>


        </div>
      </ion-item>
    </button>

  </ion-list>

</ion-content>