<ion-header>
<ion-navbar>
  <button ion-button menuToggle   (click)="backCategorias()">
    <ion-icon name="menu" ></ion-icon>
  </button>

</ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <button ion-item *ngFor="let item of items" (click)="showDetail(item.id)">
    <ion-item>
      <ion-thumbnail item-start>
        <img [src]= "item.imageUrl || './assets/img/prod.jpg'" >

      </ion-thumbnail>
      
      <h2>{{item.nome}}</h2>
      <span>{{item.valor | currency}}</span>
    </ion-item>
    </button>
  
  </ion-list>

</ion-content>
