<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

      <ion-menu-button></ion-menu-button>
      
     
    </ion-buttons>

    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <ion-list>
  <button ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
     
    </ion-thumbnail>
    <h2>Teste</h2>
  </button>

</ion-list>
</ion-content>
