<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

      <ion-menu-button></ion-menu-button>
      
     
    </ion-buttons>

    <ion-title>Carrinho de Compras</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-list>
    <ion-item text-center *ngFor="let item of items">
      
      <ion-thumbnail slot="start">

        <img [src]= "item.produto.imageUrl || './assets/img/prod.jpg'">
      </ion-thumbnail>
      <div class="content-container">
        
        <h2>{{item.produto.nome}}</h2>
      
      
      
        <p>{{item.produto.valor | currency}}</p>
      
   
        <ion-icon class="nolinebreak" name="remove-circle-outline" color="primary" (click)="decreaseQuantity(item.produto)"></ion-icon>
        <p class="nolinebreak"> {{item.quantidade}}</p>
        <ion-icon class="nolinebreak" name="add-circle-outline" color="primary" (click)="increaseQuantity(item.produto)"></ion-icon>
        <ion-icon class="nolinebreak" name="trash-outline" color="danger" (click)="removeItem(item.produto)"></ion-icon>

      </div>
      
      </ion-item>

      
    <ion-item *ngIf="total() > 0">
      <h1>Total:</h1>
      <h1 class="total">{{total() | currency}}</h1>
    </ion-item>

    
    <ion-item *ngIf="total() <= 0">
      <h1>Seu carrinho está vazio</h1>
     
    </ion-item>

     <ion-button expand="block" (click)="goOn()" >Continuar Comprando</ion-button>

     <ion-button expand="block" color ="success" (click)="checkout()" >Finalizar Compra</ion-button>

  </ion-list>

</ion-content>
